<div class="container">
  <%@cocktails.each do |cocktail| %>
  <div class="card"><%= cocktail.name %>
    <%= link_to 'Open', cocktail_path(cocktail) %>
  </div>
<%end  %>

  <%= link_to 'Create a cocktail', new_cocktail_path %>
</div>
